 ---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Probando astro">
	<main>
		
		<h1 class="text-white font-bold text-6xl">Probando <span class="text-gradient">Astro bro</span></h1>
		
	</main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

</style>
