---
import HeaderButton from "./HeaderButton.astro";

---

<header class="py-8 px-4 mx-auto max-w-xl">
    <div>
        <p class="text-white">Funciona?</p>
    </div>
    <nav>
        
        <HeaderButton>Sii!!</HeaderButton>
        <HeaderButton>Sii!!</HeaderButton>
        <HeaderButton>Sii!!</HeaderButton>
    </nav>
</header>